In [9]:
phonebook={"Soma":87678943678,"Seta":8975231456,"Rita":7867523145,"reetu":9825316377}
print(phonebook)

name = input("Enter the name whose number to be modified")
if name in phonebook:
    newnumb = input("Enter the new number")
    phonebook[name] = newnumb
    print("Modified successfully")
    print(phonebook)
else:
    print(name, "was not found.")

{'Soma': 87678943678, 'Seta': 8975231456, 'Rita': 7867523145, 'reetu': 9825316377}

Enter the name whose number to be modified reetu
Enter the new number 7986875765

Modified successfully
{'Soma': 87678943678, 'Seta': 8975231456, 'Rita': 7867523145, 'reetu': '7986875765'}

In [10]:
phonebook={"Hity":8796543908,"Soma":9888765490,"Raki":6779765312}
print(phonebook)
phonebook["Hity"]=87868664543
print(phonebook)
phonebook.update({"Akir":67476878799})
print(phonebook)

{'Hity': 8796543908, 'Soma': 9888765490, 'Raki': 6779765312}
{'Hity': 87868664543, 'Soma': 9888765490, 'Raki': 6779765312}
{'Hity': 87868664543, 'Soma': 9888765490, 'Raki': 6779765312, 'Akir': 67476878799}

In [11]:
phonebook={"madhu":9764543678,"Seeta":8975231456,"Reka":7867523145,"tiger":9825316377}
print(phonebook)

name = input("enter the name to delete:")
if name in phonebook:
    del phonebook[name]
    print ("delete successfully")
    print (phonebook)
else:
    print (name,"was not found")

{'madhu': 9764543678, 'Seeta': 8975231456, 'Reka': 7867523145, 'tiger': 9825316377}

enter the name to delete: tiger

delete successfully
{'madhu': 9764543678, 'Seeta': 8975231456, 'Reka': 7867523145}

In [12]:
phonebook={"harika":9764543678,"Seeta":8975231456,"Reka":7867523145,"kity":9825316377}
print(type(phonebook))

#clear
phonebook.clear()
print(phonebook)

print(phonebook.keys())

<class 'dict'>
{}
dict_keys([])

In [8]:


n = int(input("Enter number of employees: "))
employees = {}
for i in range(n):
    name = input(f"\nEnter name of employee {i+1}: ")
    number = input(f"Enter employee number of {name}: ")
    employees[name] = number
print("\nEmployee Records:")
for name, number in employees.items():
    print(f"Name: {name}, Employee Number: {number}")

Enter number of employees:  2

Enter name of employee 1:  Madhura
Enter employee number of Madhura:  100

Enter name of employee 2:  keerthana
Enter employee number of keerthana:  900

Employee Records:
Name: Madhura, Employee Number: 100
Name: keerthana, Employee Number: 900

#